.navbar-brand img {
    width: 50px;
    margin-left: 10px;
}

#main-title {
    text-align: center;
    margin: 15px 0 30px;
}

/* HOME */
#contacts-table {
    max-width: 800px;
    margin: 0 auto;
}

#contacts-table thead {
    color: #FFF;
    background-color: #007BFF;
}

.col-id {
    font-weight: bold;
}

.actions {
    text-align: right;
    width: 150px;
}

.check-icon {
    color: #1E7E34;
}

.edit-icon {
    color: #007BFF;
}

.delete-form {
    display: inline-block;
}

.delete-btn {
    background-color: transparent;
    border: none;
    padding: 0;
}

.delete-icon {
    color: #BD2130;
}

.actions i {
    font-size: 18px;
    margin-right: 5px;
}

#empty-list-text {
    text-align: center;
}

#msg {
    color: #155724;
    background-color: #D4EDDA;
    border: 1px solid #C3E6CB;
    padding: 10px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}

/* FOOTER */
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    background-color: #007BFF;
    color: #FFF;
    padding: 50px 0;
    height: 90px;
}

/* SHOW / CONTATO INDIVIDUAL */
#view-contact-container {
    max-width: 500px;
    margin: 0 auto;
}

.bold {
    font-weight: bold;
}

#back-link-container {
    display: block;
    width: 500px;
    margin: 30px auto 0;
}

#back-link {
    border: 1px solid #007bff7c;
    color: #007BFF;
    border-radius: 4px;
    padding: 5px;
    text-decoration: none;
}

/* CREATE */
#create-form,
#edit-form {
    max-width: 500px;
    margin: 0 auto;
}

#create-form input {
    margin-bottom: 10px;
}

#create-form button {
    margin-top: 20px;
}

/* MOBILE */
@media(max-width: 480px) {

    #home-link {
        display: none;
    }

    footer {
        display: none;
    }
}